NGINX_SITE_MAIN=www.qobo.biz
NGINX_SITE_OTHER=qobo.biz
NGINX_ROOT_PREFIX=/var/www/html
NGINX_LOG_PREFIX=/var/log/nginx

TEMPLATE_SRC=etc/nginx.conf.template
TEMPLATE_DST=etc/nginx.conf

IMG_PREFIX_LOCAL=0
IMG_PREFIX_URL=http://localhost:8000/
IMG_PREFIX_PATH=img/

GIT_REMOTE=origin
GIT_BRANCH=master
